<%- include ('../partials/head') %>
<body>

    <%- include ('../partials/header') %>

    <main class="main">
        <h3>Nueva propiedad</h3>
        
        <form method="POST" action="/products" enctype="multipart/form-data" class="addProd"> 
            <div class="campo">
                <label for="categ">Categoría</label>
                <select 
                    name="categ" 
                    class=<%=locals.errors && errors.categ ? 'is-invalid' : null %>
                >
                    <% categories.forEach(cat => {%>
                        <option 
                            value="<%= cat.id %>"
                            <% if (locals.oldData && oldData.categ == cat.id) { %>
                                selected="selected" 
                            <% } %>
                        >
                            <%= cat.category %>
                        </option>
                    <% }) %>
                </select>

                <% if (locals.errors && errors.categ) { %>
                    <div class="text-danger">
                        <%= errors.categ.msg %>
                    </div>
                <% } %>
            </div>

            <div class="campo">
                <label for="foto">Imagen</label>
                <input 
                    type="file" 
                    name="foto"
                    value="<%= locals.oldData ? oldData.foto : '0' %>"
                >
                <input 
                    type="hidden" 
                    name="oldFoto" 
                    value="<%= locals.oldData ? oldData.foto : '0' %>"
                >
                <% if (locals.errors && errors.foto) { %>
                    <div class="text-danger">
                        <%= errors.foto.msg %>
                    </div>
                <% } %>
            </div>


            <div class="campo">
                <label for="n_people">Nro de personas</label>
                <input 
                    type="number" 
                    name="n_people" 
                    value="<%= locals.oldData ? oldData.n_people : null %>"
                    class="n_people <%= locals.errors &&  errors.n_people ? 'is-invalid' : null %>"
                >
                <% if (locals.errors && errors.n_people) { %>
                    <div class="text-danger">
                        <%= errors.n_people.msg %>
                    </div>
                <% } %>
            </div>

            <div class="campo">
                <label for="price">Precio</label>
                <input 
                    type="text" 
                    name="price" 
                    value="<%= locals.oldData ? oldData.price : null %>"
                    class="precio <%=locals.errors && errors.price ? 'is-invalid' : null %>"
                >
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                        <%= errors.price.msg %>
                    </div>
                <% } %>
            </div>

            <div class="campo">
                <label for="location">Dirección</label>
                <input 
                    type="text" 
                    name="address" 
                    value="<%= locals.oldData ? oldData.address : null %>"
                    class="<%=locals.errors && errors.address ? 'is-invalid' : null %>"
                >

                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>
            </div>

            <div class="campo">
                <label for="destination">Ciudad</label>
                <select 
                    name="destination" class=<%=locals.errors && errors.destination ? 'is-invalid' : null %>
                >
                    <% destination.forEach(dest => {%>
                        <option 
                            value="<%= dest.id %>"
                            <% if (locals.oldData && oldData.destination == dest.id) { %>
                                selected="selected" 
                            <% } %>
                        >
                            <%= dest.destination %>
                        </option>
                    <% }) %>
                </select>

                <% if (locals.errors && errors.destination) { %>
                    <div class="text-danger">
                        <%= errors.destination.msg %>
                    </div>
                <% } %>
            </div>


            <div class="campo">
                <label for="servicios">Servicios</label> <br>
                <input 
                    type="checkbox" 
                    name="wifi" 
                    value=1
                    <%= locals.oldData && oldData.servicios && oldData.servicios.includes("wifi") ? 'checked' : null %>>
                <label for="servicios">Wi-fi</label>
                <br>
                <input 
                    type="checkbox" 
                    name="pool" 
                    value=1
                    <%= locals.oldData && oldData.servicios && oldData.servicios.includes("pileta") ? 'checked' : null %>>
                <label for="servicios">Pileta</label>
                <br>
                <input 
                    type="checkbox" 
                    name="parking" 
                    value=1
                    <%= locals.oldData && oldData.servicios && oldData.servicios.includes("estacionamiento") ? 'checked' : null %>>
                <label for="servicios">Estacionamiento</label>
                <br>
                <input 
                    type="checkbox" 
                    name="barbecue" 
                    value=1
                    <%= locals.oldData && oldData.servicios && oldData.servicios.includes("parrilla") ? 'checked' : null %>>
                <label for="servicios">Parrilla</label>
            </div>

            <button type="reset" class="button">Cancelar</button>
            <button type="submit" class="button">Confirmar</button>
            <button  class="button"><a href="/products">Volver</a></button>
            
        </form>



    </main>
    <%- include ('../partials/footer') %>

</body>
