<%- include ('../partials/head') %>
<body>
    <main class="main">
        <h3>Nueva propiedad</h3>
        <form action="/products" method="POST" > 
            <!-- enctype="multipart/form-data" -->
            <div class="campo">
                <label for="categ">Categoría</label>
                <select name="categ" class=<%=locals.errors && errors.categ ? 'is-invalid' : null %>>
                    <% categories.forEach(cat => {%>
                        <option value="<%= cat.id %>"><%= cat.category %></option>
                    <% }) %>
                </select>

                <% if (locals.errors && errors.categ) { %>
                    <div class="text-danger">
                        <%= errors.categ.msg %>
                    </div>
                    <% } %>
            </div>

            <div class="campo">
                <label for="image">Imagen</label>
                <input type="file" name="image">
                <input type="hidden" name="oldImage" value="<%= locals.casa ? casa.image : '0' %>">
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %>
                    </div>
                    <% } %>
            </div>


            <div class="campo">
                <label for="n_people">Nro de personas</label>
                <input 
                    type="number" 
                    name="n_people" 
                    value="<%= locals.casa ? casa.n_people : null %>"
                    class="n_people <%= locals.errors &&
                    errors.n_people ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.n_people) { %>
                    <div class="text-danger">
                        <%= errors.n_people.msg %>
                    </div>
                    <% } %>
            </div>

            <div class="campo">
                <label for="price">Precio</label>
                <input 
                    type="text" 
                    name="price" 
                    value="<%= locals.casa ? casa.price : null %>"
                    class="precio <%=locals.errors &&
                    errors.price ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                        <%= errors.price.msg %>
                    </div>
                    <% } %>
            </div>

            <div class="campo">
                <label for="location">Dirección</label>
                <input 
                    type="text" 
                    name="address" 
                    value="<%= locals.casa ? casa.address : null %>"
                    class=<%=locals.errors && errors.address ? 'is-invalid' :
                    null %>>

                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>
            </div>

            <div class="campo">
                <label for="destination">Ciudad</label>
                <select name="destination" class=<%=locals.errors && errors.destination ? 'is-invalid' : null %>>
                    <% destination.forEach(dest => {%>
                        <option value="<%= dest.id %>"><%= dest.destination %></option>
                    <% }) %>
                </select>

                <% if (locals.errors && errors.destination) { %>
                    <div class="text-danger">
                        <%= errors.destination.msg %>
                    </div>
                <% } %>
            </div>


            <div class="campo">
                <label for="servicios">Servicios</label> <br>
                <input 
                    type="checkbox" 
                    name="servicios" 
                    value="wifi"
                    <%= locals.casa && casa.servicios && casa.servicios.includes("wifi") ? 'checked' : null %>>
                <label for="servicios">Wi-fi</label>
                <br>
                <input 
                    type="checkbox" 
                    name="servicios" 
                    value="pileta"
                    <%= locals.casa && casa.servicios && casa.servicios.includes("pileta") ? 'checked' : null %>>
                <label for="servicios">Pileta</label>
                <br>
                <input 
                    type="checkbox" 
                    name="servicios" 
                    value="estacionamiento"
                    <%= locals.casa && casa.servicios && casa.servicios.includes("estacionamiento") ? 'checked' : null %>>
                <label for="servicios">Estacionamiento</label>
                <br>
                <input 
                    type="checkbox" 
                    name="servicios" 
                    value="parrilla"
                    <%= locals.casa && casa.servicios && casa.servicios.includes("parrilla") ? 'checked' : null %>>
                <label for="servicios">Parrilla</label>
            </div>

            <button type="reset" class="button">Cancelar</button>
            <button type="submit" class="button">Confirmar</button>
            <button  class="button"><a href="/products">Volver</a></button>
            
        </form>



    </main>

</body>
