<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    
    <body>

        <%- include ('../partials/header') %>

            <main class="main">


                <h1 class="titulos">Detalle del producto</h1>
                <%- include ('../partials/product') %>
                    <div class="botones">
                        <form action="/products/<%= casa.id %>/edit" class="editar">
                            <button class="detall_button">Editar</button>
                        </form>
                        <form action="/products" class="editar" >
                            <button class="detall_button">Volver</button>
                        </form>
                        <form action="/products/desactivar/<%= casa.id %>?_method=PUT" method="POST">
                            <button class="detall_button">Desactivar</button>
                        </form>
                        <form action="/products/activar/<%= casa.id %>?_method=PUT" method="POST">
                            <button class="detall_button">Activar</button>
                        </form>
                    </div>
            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>