<main class="main">
    <section class="listadoDeProductos">
        <h3>Dirección: <%= property.address %></h3>
        <img src="/images/products/<%= property.image %>" alt="" class="listProductsImage">
        <p>Cantidad máxima de personas: <%= property.n_of_people %></p>
        <div class="campo">
            <label for="servicios">Servicios</label> <br>
            <input type="checkbox" name="servicios" value="wifi" <%= locals.property && property.wifi == 1 ? 'checked' : null %>>
            <label for="servicios">Wi-fi</label><br>
            <input type="checkbox" name="servicios" value="pool" <%= locals.property && property.pool == 1 ? 'checked' : null %>>
            <label for="servicios">Pileta</label><br>
            <input type="checkbox" name="servicios" value="parking"<%= locals.property && property.parking == 1 ? 'checked' : null %>>
            <label for="servicios">Estacionamiento</label><br>
            <input type="checkbox" name="servicios" value="barbecue"<%= locals.property && property.barbecue ? 'checked' : null %>>
            <label for="servicios">Parrilla</label>
        </div>
        <h5>Precio por noche: $<%= new Intl.NumberFormat('de-DE', { style: 'decimal' }).format(property.price) %></h5>

        <script src="detalleCrud.ejs"></script>
    </section>
</main>
