<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<body>

<%- include ('../partials/header') %>


<section class="form">
        <form method="POST" action="/login" class="register">
                <div class="control-formulario">
                    <input type="text" placeholder="e-mail" name="email" class="control" value="<%= locals.oldData ? oldData.email : null %>">
                </div> 
                <% if (locals.errors && errors.email) { %>
                    <div class="123">
                        <%= errors.email.msg %>
                    </div>
                <% }  %>       
                <div class="control-formulario">
                    <input type="password" placeholder="password" name="password" class="control" >
                </div>    
                <% if (locals.errors && errors.password) { %>
                    <div class="123">
                        <%= errors.password.msg %>
                    </div>
                <% }  %>  
                
                <div class="control-formulario">
                        <label for="recordatorio de cuenta"></label>
                        <input type="checkbox" name="recordatorio" id="recordatorio de cuenta">Recuérdame
                </div>
                        
                <div class="buttons">
                    <button type="submit" class="boton-formulario">Acceder</button>
                </div>
        
            </form>        
        </section>

 <%- include ('../partials/footer') %>


</body>

</html>